# Frontend Angular
/FRONT/node_modules/
/FRONT/dist/
/FRONT/.angular/

# Backend Laravel
/BACK/vendor/
/BACK/.env
/BACK/.phpunit.result.cache
/BACK/storage/*.key
/BACK/storage/logs/*
/BACK/storage/framework/cache/*
/BACK/storage/framework/sessions/*
/BACK/storage/framework/views/*

# Environment and editor files
.DS_Store
Thumbs.db
/.idea/
